@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,400..900&family=Pacifico&display=swap");

@import "./normalize";
@import "./variables";
@import "./utilities";
@import "./text-color";

@import "./components/countdown";
@import "./components/hero-section";
@import "./components/video-main";
@import "./components/course-gift";
@import "./components/testimonials-swiper";
@import "./components/package-section";
@import "./components/achievement-section";
@import "./components/footer";

html {
	scroll-behavior: smooth;
}

body {
	font-family: "inter", sans-serif;
	background-color: #fff;
	overflow-x: hidden;
	color: var(--text-color);
	font-weight: 500;
	// background-image: radial-gradient(at center center, #052157 0%, #020c2d 100%);
}
