.achievement-section {
	// background-color: #211840;
	// color: #fff;

	.achievement-heading {
		font-size: var(--fs-heading);
		font-weight: var(--fw-bold);
		text-align: center;
		line-height: 1.3em;
		margin-bottom: 1em;
	}

	.achievement-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		justify-items: center;
		align-items: start;
		gap: 1.5rem;
	}

	.achievement-item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 0.5rem;
		text-align: center;
	}
	@media screen and (min-width: $tablet) {
		.achievement-item:nth-child(3) {
			grid-column: 1/ -1;
			width: min(100%, 400px);
		}
	}
	@media screen and (min-width: $desktop) {
		.achievement-item:nth-child(3) {
			grid-column: unset;
			width: unset;
		}
	}

	.achievement-item__point {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--clr-red);
	}

	.achievement-item__content {
		font-size: var(--fs-body);
		font-weight: var(--fs-regular);
	}
}
